* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: rgb(115, 113, 113);
  overflow: hidden;
}

.footer {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: #262626;
  color: grey;
  font-size: 15px;  
  left: 0;
  width: 100%;
  height: 50px;
}

 .header{
  top: 0;
}

.footer {
  justify-content: center;
  bottom: 0;
} 

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border-radius: 5px;
}

.formName {
 box-sizing: border-box;
 background-color: lightgrey;
 width: 100%;
 display: flex;
 justify-content: center;
}

form > .txtField {
  position: relative;
}

.txtField > input {
  width: 245px;
  height: 25px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  gap: 30px;
}

form > button {
  margin-bottom: 20px;
  width: 30%;
  background-color: #2691d9;
  border: none;
  border-radius: 5px;
  height: 25px;  
  color: #e9f4fb;
}

.openModalWindowbtn {
  margin: 90px 10px;
  padding: 20px;
  font-size: 1rem;
}


@media (max-width: 321px) {
  .loginForm {
    width: 70%;
  }

  .txtField > input { 
    width: 100%;
  }
}





