* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(21,200,210,0.208018241476278) 40%, rgba(0,212,255,1) 100%);
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: #262626;
  color: grey;
  font-size: 15px;  
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  flex-shrink: 0;
}

 .header{
  top: 0;
}

.footer {
  justify-content: center;
  /* bottom: 0; */
} 

#form {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-top: 5%;
}

.mb-4 {
  color: blue;
  display: flex;
  justify-content: center;
}

.errorMSG {
  color: red;
}

.openModalWindowbtn {
  margin: 90px 10px;
  padding: 20px;
  font-size: 1rem;
}


@media (max-width: 321px) {
  .loginForm {
    width: 70%;
  }

  .txtField > input { 
    width: 100%;
  }
}





